<!DOCTYPE html>
<html>
  <head>
    <title>UACS Group Chat</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>

  <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #fff; padding: 3px; position: fixed; bottom: 0; width: 100%; border-color: #000; border-top-style: solid; border-top-width: 1px;}
      form input { border-style: solid; border-width: 1px; padding: 10px; width: 85%; margin-right: .5%; }
      form button { width: 9%; background: #3b52d3; border: #3b52d3; padding: 10px; margin-left: 2%; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }

      .navbar {
        background: url("UACShub-background.jpg");
        color: #eee;
        width: 100%;

        display: flex;
        justify-content: left;
        align-items: center;
        perspective: 150px;
        perspective-origin: 50% 50%;
        animation: animation 100s linear infinite;
	    }

      @keyframes animation {
        100% {
          background-position:0px -3000px;
        }
      }

      .button1 {
        color: white;
        border-radius: 8px;
      }

      .button1:hover {
        color: white;
        background-color: #2e40a7;
        border-radius: 8px;
      }

      .navbar-brand {
        padding: 15px;
      }
  </style>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: transparent;">
      <a class="navbar-brand" href="/">
        <img src="logo.png" alt="logo" style="width:308px;height:90px;">
      </a>
	  </nav>

    <ul id="messages"></ul>
    <form action="" id="chatForm">
      <input id="txt" autocomplete="off" autofocus="on"  placeholder="Type your message here..." />
      <button class="button button1">Send</button>
    </form>
    <script>
            var name
            var xhr = new XMLHttpRequest()
                xhr.onreadystatechange = function(){
                    if(xhr.readyState == XMLHttpRequest.DONE) {
                            console.log(xhr.response)

                            name = xhr.response[0].name
                        }
                    }
                
            xhr.open("GET", "http://localhost:8080/getUserName")
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.send()

            var socket = io.connect('http://localhost:8080');


            // submit text message without reload/refresh the page
            $('form').submit(function(e){
                e.preventDefault(); // prevents page reloading
                socket.emit('chat_message', $('#txt').val());
                $('#txt').val('');
                return false;
            });
            // append the chat text message
            socket.on('chat_message', function(msg){
                $('#messages').append($('<li>').html(msg));
            });
            // append text if someone is online
            socket.on('is_online', function(username) {
                $('#messages').append($('<li>').html(username));
            });
            // ask username
    var namekey = "name=";
    var name = "";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
        var c = ca[i].trim();
        if ((c.indexOf(namekey)) == 0) {
            name = c.substr(namekey.length);
        }

    }
            socket.emit('username', name);
    </script>
  </body>
</html>