<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/profile.css">
    <link rel="stylesheet" href="/classlist.css">
    <link rel="shortcut icon" href="#" />
	<title>UACShub</title>
</head>

<style>
    .navbar {
		background: url("UACShub-background.jpg");
		color: #eee;
		width: 100%;

		display: flex;
		justify-content: center;
		align-items: center;
		perspective: 150px;
		perspective-origin: 50% 50%;
		animation: animation 100s linear infinite;
	}

	@keyframes animation {
		100% {
			background-position:0px -3000px;
		}
	}

	.navlink:hover {
		color: #947d4b;
	}

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
    }

    .title {
        color: grey;
        font-size: 18px;
    }

    .profile-button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    .full-name {
        font-size: 22px;
        padding-top: 8px;
    }

    .fa {
        text-decoration: none;
        font-size: 18px;
        color: black;
    }

    .profile-button:hover, a:hover {
        opacity: 0.7;
    }

    .about {
        padding-top: 1px;
    }

    .classlist-table {
        padding-right: 10px;
        padding-top: 50px;
        padding-bottom: 800px;
    }

    .two-buttons {
        padding-top: 10px;
        padding-bottom: 25px;
    }

</style>

<body>

	<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: transparent;">
		<a class="navbar-brand" href="/">
			<img src="logo.png" alt="logo" style="width:308px;height:90px;">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-md-auto">
				<li class="nav-item active">
					<a class = "navlink" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class = "navlink" href="/chatroom">Chatroom</a>
				</li>
			</ul>
		</div>

	</nav>

    <div class="container" style="display: flex; height: 600px;"> 
        <div style="width: 50%;">
            <div class="card">
                <img src="profile-picture.png" alt="John Doe" style="width:100%">
                <div class="full-name" id="full-name">
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                    <script>
                        $.ajax({
                            type: "GET",
                            url: "http://localhost:8080/getName",
                            dataType: "json"
                        }).done(function (data){
                            $('#full-name').text(data[0].name)
                            document.cookie = `name=${data[0].name}`
                            var count = 0;
                            var id = -1;
                            for (i = 0; i < document.cookie.length; i++) {
                                
                                if(document.cookie[i] == '%'){
                                    count++;
                                }
                                if(count == 4) {
                                    id = document.cookie[i + 4];
                                }
                                
                            }
                            document.cookie = `id=${id}`
                            
                        }).fail(function(jqXHR, textStatus, errorThrown){
                            alert("AJAX call failed: " + textStatus + ", " + errorThrown);
                        });
                    </script>
                </div>
                <div class="contact-info">
                    <span class="email">Email: </span>
                    <span class="email-val" id="email">
                        <script>
                            idindex = document.cookie.indexOf("id=")
                            id = document.cookie[idindex + 3]
                            //window.sessionStorage.setItem('userID', id)
                            $.ajax({
                                type: "GET",
                                url: "http://localhost:8080/getEmail",
                                dataType: "json",
                                data: {
                                    userid: id
                                }
                            }).done(function (data){
                                $('#email').text(data[0].email)
                            }).fail(function(jqXHR, textStatus, errorThrown){
                                alert("AJAX call failed: " + textStatus + ", " + errorThrown);
                            });     
                        </script>
                    </span>
                </div>

                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>

                <p>
                    <form action="https://google.com">
                        <input class="profile-button" type="submit" value="Contact" />
                    </form>
                </p>
            </div>
        </div>

        <div class="details">  
            <div style="flex-grow: 1;">
                <div class="details">
                    <div class="section">
                        <div class="section__title">
                            Classes
                        </div>
                        <div class="section__list">
                            
                            <button type="button" class="btn btn-danger btn-sm" id="delete-class">Delete</button>
                            <script>
                                $(document).on('click', '#delete-class', function() {
                                        var checkboxes = document.getElementsByName('class-check');
                                        var checked = [];
                                        for (var i = 0; i < checkboxes.length; i++){
                                            if (checkboxes[i].checked) {
                                                cname = checkboxes[i].id.slice(0,-1)
                                                checked.push(cname)
                                            }
                                        }
                                        var xhr = new XMLHttpRequest();
                                        xhr.open("POST", "http://localhost:8080/deleteClass", true)
                                        xhr.setRequestHeader('Content-Type', 'application/json')
                                        
                                        xhr.send(JSON.stringify({
                                            value: checked
                                        }))
                                        location.reload();
                                });               
                            </script>
                            <div class="section">
                                <div class="section__list">
                                    <div class="section__list-item" id="list-item">
                                        <script>
                                            idindex = document.cookie.indexOf("id=")
                                            id = document.cookie[idindex + 3]
                                            $.ajax({
                                                type: "GET",
                                                url: "http://localhost:8080/getAttributes",
                                                dataType: "json",
                                                data: {
                                                    userid: id
                                                }
                                            }).done(function (data){
                                                for(i=0; i < data.length; i++){
                                                    if (data[i].class != null)
                                                        $('#list-item').append(`<li><input type="checkbox" name="class-check" id=${data[i].class}/>  ${data[i].classname} </li>`)
                                                }
                                            }).fail(function(jqXHR, textStatus, errorThrown){
                                                alert("AJAX call failed: " + textStatus + ", " + errorThrown);
                                            });
                                        </script>
                                    </div>     
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="section__title">
                            Technologies
                        </div>
                        <div class="skills">
                            <div class="skills__item" id="skills-item">
                                <div class="left">
                                    <div class="name">
                                        <script>
                                            $.ajax({
                                                type: "GET",
                                                url: "http://localhost:8080/getAttributes",
                                                dataType: "json"
                                            }).done(function (data){
                                                for(i=1; i < data.length; i++){
                                                    if (data[i].technology != null)
                                                        $('#skills-item').append(`<li><input type="checkbox" id=${data[i].technology} name="technology-check"/> ${data[i].technology} </li>`)
                                                }
                                            }).fail(function(jqXHR, textStatus, errorThrown){
                                                alert("AJAX call failed: " + textStatus + ", " + errorThrown);
                                            });
                                        </script>
                                    </div>
                                    <script>
                                        $(document).on('click', '#delete-tech', function() {
                                                var checkboxes = document.getElementsByName('technology-check');
                                                var checked = [];
                                                for (var i = 0; i < checkboxes.length; i++){
                                                    if (checkboxes[i].checked) {
                                                        checked.push(checkboxes[i].id)
                                                    }
                                                }
                                                var xhr = new XMLHttpRequest();
                                                xhr.open("POST", "http://localhost:8080/deleteTechnology", true)
                                                xhr.setRequestHeader('Content-Type', 'application/json')
                                                
                                                xhr.send(JSON.stringify({
                                                    value: checked
                                                }))
                                                location.reload();
                                        });               
                                    </script>

                                    <input type="text" id="addTech" class="addTech">
                                    <div class="two-buttons">
                                        <button type="button" class="btn btn-primary btn-sm" id="addTechBtn">Add</button>
                                        <button type="button" class="btn btn-danger btn-sm" id="delete-tech">Delete</button>
                                    </div>
                                    
                                    <script>
                                        $(document).on('click', '#addTechBtn', function() {
                                            var tech = document.getElementById('addTech').value

                                            var xhr = new XMLHttpRequest();
                                            xhr.open("POST", "http://localhost:8080/addTech", true)
                                            xhr.setRequestHeader('Content-Type', 'application/json')

                                            test = JSON.stringify({
                                                value: tech
                                            })

                                            xhr.send(test)
                                            location.reload();
                                        });
                                    </script>
                                </div>           
                            </div>
                            <div class="section">
                                <div class="section__title">
                                    Interests
                                </div>
                                <div class="section__list">
                                    <div class="section__list-item">
                                        Programming, Video Games, Hiking, Skateboarding
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    
    <div class="classlist-table">
        <table id="classtable">
        <thead>
            <tr>
            <th>Add Class</th>
            <th>Class ID</th>
            <th>Class Name</th>
            </tr>
        <thead>
        <tbody id="tbody">
            <script>
                $(document).ready(() => {
                    var xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = function(){
                        if(xhr.readyState == XMLHttpRequest.DONE) {
                            var body = JSON.parse(xhr.response)
                                console.log(body)
                                console.log(body[0].classid)

                            for(var i = 0; i < body.length; i++){
                                var row = document.createElement("tr")
                                var element = document.getElementById("tbody")
                                
                                var addcol = document.createElement("td")
                                var addcolb = document.createElement("button")
                                addcolb.id = 'addClassButton'
                                addcolb.class = body[i].classid
                                var addcolbtext = document.createTextNode("Add Class")

                                addcolb.appendChild(addcolbtext)
                                addcol.appendChild(addcolb)
                                row.appendChild(addcol)

                                var classid = body[i].classid
                                var idcol = document.createElement("td")
                                var idtext = document.createTextNode(classid.toString())
                                idcol.appendChild(idtext)
                                row.appendChild(idcol)

                                var classname = body[i].classname
                                var namecol = document.createElement("td")
                                var nametest = document.createTextNode(classname)
                                namecol.appendChild(nametest)
                                row.appendChild(namecol)

                                element.appendChild(row)                  
                            }

                        }
                    }
                    xhr.open("GET", "http://localhost:8080/getClass")
                    xhr.setRequestHeader('Content-Type', 'application/json')
                    
                    xhr.send()
                }
                )
            </script> 
            <script>
                $(document).on('click', '#addClassButton', function() {
                        var classid = this.class
                        var xhr = new XMLHttpRequest();
                        xhr.open("POST", "http://localhost:8080/addClass", true)
                        xhr.setRequestHeader('Content-Type', 'application/json')
                        
                        xhr.send(JSON.stringify({
                            value: classid
                        }))
                     location.reload();
                });               
            </script>
        </tbody>
        <table/>
   </div>   

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</body>
</html>